
/*

    Original Author: Ayden McCall
    Change Log
    8/26: File Creation and initialization
    8/27: Added media queries, header and main content
*/
/* HTML */
.bg-darkblue {
    background-color: #25274D;
}

.mobile-only {
    display: none;
}

/* NAVBAR */
nav {
    /*background-color: #5f2f0d;*/
    font-size: 1.3em;
}

.topnav .active {
    color: rgb(8, 135, 173)
}

nav a {
    color: snow; 
}

.nav-color {
    color: snow; 
}

.nav-color:hover {
    color: #2E9CCA;
}

nav a:hover {
    color: #2E9CCA;
}

#hamburgerButton {
    float: right;
    background-color: #2E9CCA;
    display: none;
}

#shopping-icon {
    font-size: 1.8em;
}

#shopping-icon:hover {
    border: 1px solid snow;
}

/*HEADER IMAGE*/
header {
    color: snow;
}

header .coffee-bg {
    margin:auto;
    width: 80%;
    height: 800px;
    background-image: url(../img/coffee-1280.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    border-radius: 25px;
}

header .coffee-bg div.welcome {
    width: 30%;
    flex-wrap: wrap;
    height: fit-content;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #572a09;
}

/* MAIN */
main {
    padding: 10px;
    font-size: 1.25em;
    color: snow;
    text-align: center;
}

#newsletterError {
    margin-top: 4px;
    color: rgb(250, 87, 87);
    display: none;
}

/* FOOTER */

footer {
    padding: 10px;
}

/* MEDIA QUERY */
@media (min-width: 601px) {
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
    #div1 {
        width: fit-content;
    }
}

@media (max-width: 600px) { 
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }

    #div1 {
        width: 100%;
    }

    a.nav-link {
        display: none;
    }

    #hamburgerButton {
        display: block;
    }

    .topnav {
        clear: both;
    }

    .topnav.responsive 
    {
        position: relative;
    }

    .topnav.responsive ul {
        display: block;
    }

    .topnav.responsive a.nav-link {
        float: none;
        display: block;
        text-align: left;
    }



    header .coffee-bg {
        background-image: url(../img/coffee-640.jpg);
        
        height:auto;
    }
    header .coffee-bg div.welcome {
        width: 50%;
    }

    footer p {
        font-size: 1.25em;
    }
}