@import 
url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import 
url('https://fonts.googleapis.com/css2?family=Itim&family=New+Tegomin&display=swap');

$color-background: #EEE8D6;
$color-main: #022933;
$red: rgb(243, 37, 1);
$ice: rgb(17, 161, 228);
$blue: rgb(15, 98, 136);
$purple: purple;
$orange: orange;
$golden: #f8bf15;
$yellow: #fff23e;
$emerald: rgb(0, 255, 13);
$darkblue: rgb(2, 2, 34);

$color-backgrounds: rgb(235, 236, 216);

$font-main: Itim, sans-serif;
$font-highlight: "New Tegomin", Ariel;

$color-item-border: rgb(255, 0, 242);
$color-media-head: rgb(240, 134, 36);