/*** BODY ****/
body { 
	background-color: #F5F5F5;
    color: #410397;
    font-family: Verdana, Arial, sans-serif;
	width: 100%;
}

header { 
	background-color: #9BC1C2; 
    background-image: url(../images/lilyheader.jpg);
	background-position: right;
	background-repeat: no-repeat;
}

/*** NAV ****/
h1 { 
	text-indent: 1em;
    line-height: 400%; 
}

nav ul { 
     font-weight: bold; 
	 list-style: none;
	 margin: 0px;
	 padding: 0px;
}

nav ul li {
	display: inline;
	margin-right: 15px;
}

nav ul li a {
	text-decoration: none;
	color: rgb(0, 153, 77);
}

nav ul li a:hover {
	color: rgb(245, 143, 160);
}

/*** MAIN ****/

main ul {
	list-style-image: url(../images/yogabullet.png);
	margin-left: 3em;
}

address {
	margin-bottom: .5em;
}

/*** TABLE ***/

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: .5em;
}

th {
	border: 1px solid black;
}

td {
	border: 1px solid black;
	text-align: center;
}

/*** FOOTER ****/

footer { 
	background-color: #9BC1C2; 
    font-size: small;
	text-align: center;
	font-style: italic;
	width: 100%;
	padding: .5em;
}

/*** MOBILE ***/

@media only screen and (max-width: 640px) {

	body {
		background-image: url(../images/yogamobile.png)
	}

	header {
		background-image: none;
	}

	nav ul li{
		display: block;
	}

	img {
		display: none;
	}
}

/*** TABLET AND UP ***/

@media only screen and (min-width: 641px) {

	body {
		background-color: #F5F5F5; 
	}

	nav ul li {
		display: inline;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}
