body 
{ 
	background-color: #FFFFFF;
    color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}
header 
{ 
	background-color: #000033;
    color: #FFFFFF; 
	background-image: url(../images/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat; 
	line-height: 400%;
	text-indent: 1em;
}

nav
{ 
	background-color: #90C7E3;
    font-weight: bold;
}

nav ul {
	padding: 6px 0px;
	margin: 0px;
	list-style: none;
}

nav ul li 
{ 
	display: inline;
	margin: 0px 15px;
	text-decoration: none; 
}

/***** MAIN ******/

#title {
	text-decoration: none;
	color: white;
}

#title:hover {
	color: pink;
}

h1 
{ 
	margin-bottom: 0; 
    font-family: Georgia, 'Times New Roman', serif; 
}
	
h2 
{ 
	color: #3399CC; 
    font-family: Georgia, 'Times New Roman', serif; 
}
	 
h3 
{ 
	color: #000033;
    font-family: Georgia, 'Times New Roman', serif; 
}

.resort 
{ 
	color: #5C7FA3; 
    font-weight: bold;
}

main ul {
	list-style-image: url(../images/marker.gif);
}


/*ul 
{ 
	list-style-image: url(marker.jpg); 
} */

address
{ 
	font-size: 90%; 
}


footer 
{ 
	font-size: 75%;
    font-style: bold;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	background-image: linear-gradient(transparent, #90C7E3 40%);
}
	   
dt 
{ 
	color: #000033; 
}


/****** MOBILE ******/
@media screen and (max-width: 640px) {
	
	nav ul li{
		display: block;
	}
	h2, img {
		display: none;
	}
	
}

/****** TABLET ******/
@media only screen and (min-width: 641px){
	nav ul li{
		display: inline;
	}
	h2, image {
		display: block;
	}
}
