*{
    margin:0; 
    padding:0;
}

body{
    background-color:beige;
}

#main_container{
   width:600px;
   margin-top:20px;
   margin-right:auto;
   margin-left:auto;
   background-color:#ffffff;
   overflow: hidden;
   }

.border {
    border:10px solid #666666;
    border-radius: 15px;
    width:100px;
    height:100px;
    float: left;
}

h2{
    font-size: 80px;
    font-family: verdana;
    text-transform:uppercase;
    text-align: center;
    color:#666666;
}

#a{
    margin-left: 220px;
    margin-top: 40px;
    
}

#b{
    clear: left;
    float: left;
    margin-left: 160px;
    margin-bottom: 2px;
}

#c{
    
}

#d{
    clear: left;
    float: left;
    margin-left: 100px;
    margin-bottom: 40px;
}

#e{
    
}

#f{}

.blue {
    color: blue;
    border-color: blue;
}
.green {
    color: #50c878;
    border-color: #50c878;
}
.red {
    color: #e0115f;
    border-color: #e0115f;
}
