body {
  background: lightblue;
  text-align: center;
}

.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.movable {
  transform: translate(-100px, 50px);
}

.hoverable {
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background: palevioletred;
  color: whitesmoke;
  border-radius: 50px;
  cursor: pointer;
  transition: background 1s, transform .5s .15s ease-out;
}

.hoverable:hover {
  background-color: teal;
  transform: rotate(360deg);
}