        /* HTML STYLES */
@font-face {
    font-family: CrimsonText;
    src: url(../fonts/CrimsonText-SemiBoldItalic.ttf);
}

@font-face {
    font-family: New Tegomin;
    src: url(../fonts/NewTegomin-Regular.ttf)
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.ttf);
}

    /* FILE-WIDE STYLES */

html {
    background-color: grey;
    
}

    /* BODY STYLES */

body {
    /*margin: 0 10%; */
    margin: 0px auto;
    width: 80%;
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right, rgb(212, 209, 245), snow, whitesmoke, rgb(227, 236, 250), rgb(217, 214, 250) 80%);
}
    
    /* HEADER STYLES */

header {
    display: block;  
    font-size: 1.3em;
    position: fixed;
    width: 80%;
    background-color: rgba(18, 4, 94, .8);
}

    /* Nav Styles */

#name {
    padding-left: 2.5%;
    font-size: 2.5em;
    font-weight: bold;
    font-family: CrimsonText, Arial, "sans-serif";
    color:thistle;
    text-decoration: none;
    word-wrap: normal;
    float: left;
    margin-top: 5px;
}

.nav_links {
    margin-right: 7rem;
    float: right;
    list-style: none;
    text-decoration: none;
    color: rgb(0, 153, 255);
}

nav ul:after {
    clear: both;
}
      

    /* MAIN STYLES */

main {
    clear: both;
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

main * {
    margin: 5px auto; 
}

#selfie {
    width: 20rem;
    height: 20rem;
    border: 2px black;
    border-style: solid dotted;
    margin-left: 575px;
}

.introduction {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

/*.colorful {
    background-image: linear-gradient(to right, rgb(128, 28, 241), rgba(128, 28, 241, .5), rgba(241, 28, 195, .5), rgb(241, 28, 195));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

p {
    text-align: center;
    font-size: 1.25em;
    margin-left: 5rem;
    margin-right: 5rem;
    line-height: 1.8;
}


        /* FOOTER STYLES */

footer {
    padding: 8px;
    text-align: center;
    background-color: rgba(18, 4, 94, .8);
    color: rgb(255, 255, 255);
}

footer a {
    color: rgb(0, 153, 255);
}

footer img {
    padding-right: 15px;
}
