/* MAIN STYLES */

main {
    text-align: center;
}

/* FORM STYLES */

form {
    margin-top: 50px;
    margin-right: 50%
}

form div{
    text-align: right;
}

#inputdiv * {
    float: right;
}

input#submit {
    margin-top: 30px;
    margin-right: 15px;
}