/* MAIN STYLES */

main {
    text-align: center;
}

/* FORM STYLES */

form {
    margin-top: 50px;
    margin-bottom: 70px;
}

form div{
    text-align: right;
    margin-right: 45%;
}

#findOrigin {
    font-size: 1.1em;
}

fieldset {
    width: fit-content;
    border: 2px dotted black;
}

fieldset div {
    display: inline-block; 
    margin: 0px 5px;
}

#inputdiv * {
    float: right;
}

#submit {
    float: right;
    margin-right: 30%;
    margin-top: 83px;
}