/* FILE-WIDE STYLES*/

/* MAIN STYLES */

main {
    text-align: center;
}

/* TABLE STYLES */
table {
    width: 65%;
    border: 2px solid black;
    border-collapse:collapse;
}

th {
    border: 1px solid black;
    padding: 25px;
    font-size: 1.1rem;
    background-color: rgba(92, 12, 241, 0.5); 
}

td {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}

/* POST TABLE STYLES */

h1 {
    padding: 30px;
}