/* Ayden McCall, 4/2/2021 */
@font-face {
	font-family: Yatra-One;
	src: url(../fonts/YatraOne-Regular.ttf)
}
@font-face {
	font-family: Open-Sans-Italic;
	src: url(../fonts/OpenSans-Italic.ttf);
}
body {
	background-color: #B8D1EB;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	list-style-type: none;
}
main {
	background-color: #C5A98B;
	padding: 10px;
}
footer {
	font-size: .75em;
	text-align: center;
	background-color: orangered;
	padding-top: 10px;
	padding-bottom: 10px;
}
.empty {
	list-style-type: none;
}
.tomatolist {
	list-style-image: url(../images/tomato.png);
}
#outerwrapper {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	
} 

.floatleft { 
float: left;
margin-right: 3%;
}

.floatright {
float: right;
margin-left: 3%;
}

main, footer { 
clear: both;
}
header h1 {
font: 2em Yatra-One;
}
header h2 {
font-family: Open-Sans-Italic;
font-weight: normal;
font-style: italic;
}
